In [29]:
import pandas as pd

In [30]:
cat_vars = [
    "gender",
    "condtn",
    "position",
    "positin1",
    "match",
    "samerace",
    "age_o",
    "race_o",
    "dec_o",
    "attr_o",
    "sinc_o",
    "intel_o",
    "fun_o",
    "amb_o",
    "shar_o",
    "like_o",
    "prob_o",
    "met_o",
    "age",
    "field_cd",
    "race",
    "imprace",
    "imprelig",
    "zipcode",
    "goal",
    "date",
    "go_out",
    "career_c",
    "sports",
    "tvsports",
    "exercise",
    "dining",
    "museums",
    "art",
    "hiking",
    "gaming",
    "clubbing",
    "reading",
    "tv",
    "theater",
    "movies",
    "concerts",
    "music",
    "shopping",
    "yoga",
    "exphappy",
    "attr3_1",
    "sinc3_1",
    "intel3_1",
    "fun3_1",
    "amb3_1",
    "attr5_1",
    "sinc5_1",
    "intel5_1",
    "fun5_1",
    "amb5_1",
    "dec",
    "attr",
    "sinc",
    "intel",
    "fun",
    "amb",
    "shar",
    "like",
    "prob",
    "met",
    "attr1_s",
    "sinc1_s",
    "intel1_s",
    "fun1_s",
    "amb1_s",
    "shar1_s",
    "attr3_s",
    "sinc3_s",
    "intel3_s",
    "fun3_s",
    "amb3_s",
    "satis_2",
    "length",
    "numdat_2",
    "date_3",
]

float_vars = [
    "int_corr",
    "pf_o_att",
    "pf_o_sin",
    "pf_o_int",
    "pf_o_fun",
    "pf_o_amb",
    "pf_o_sha",
    "income",
    "attr1_1",
    "sinc1_1",
    "intel1_1",
    "fun1_1",
    "amb1_1",
    "shar1_1",
    "attr4_1",
    "sinc4_1",
    "intel4_1",
    "fun4_1",
    "amb4_1",
    "shar4_1",
    "attr2_1",
    "sinc2_1",
    "intel2_1",
    "fun2_1",
    "amb2_1",
    "shar2_1",
]

int_vars = [
    "iid",
    "id",
    "idg",
    "wave",
    "round",
    "order",
    "partner",
    "pid",
    "expnum",
    "you_call",
    "them_cal",
    "numdat_3",
    "num_in_3",
]

str_vars = [
    "field",
    "from",
    "career"
]

unused_vars = [
    "undergrd",
    "mn_sat",
    "tuition"
]

In [31]:
df =pd.read_csv("../raw/SpeedDating.csv")
df["income"]=df["income"].replace(",","",regex=True)

In [32]:
df[int_vars].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   iid       8378 non-null   int64
 1   id        8377 non-null   float64
 2   idg       8378 non-null   int64
 3   wave      8378 non-null   int64
 4   round     8378 non-null   int64
 5   order     8378 non-null   int64
 6   partner   8378 non-null   int64
 7   pid       8368 non-null   float64
 8   expnum    1800 non-null   float64
 9   you_call  3974 non-null   float64
 10  them_cal  3974 non-null   float64
 11  numdat_3  1496 non-null   float64
 12  num_in_3  668 non-null    float64
dtypes: float64(7), int64(6)
memory usage: 851.0 KB

In [33]:
df[cat_vars]=df[cat_vars].astype("category",copy=False)
df[float_vars]=df[float_vars].astype("float",copy=False)
df[str_vars]=df[str_vars].astype("str",copy=False)

In [34]:
df.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 195 columns):
 #    Column    Non-Null Count  Dtype
---   ------    --------------  -----
 0    iid       8378 non-null   int64
 1    id        8377 non-null   float64
 2    gender    8378 non-null   category
 3    idg       8378 non-null   int64
 4    condtn    8378 non-null   category
 5    wave      8378 non-null   int64
 6    round     8378 non-null   int64
 7    position  8378 non-null   category
 8    positin1  6532 non-null   category
 9    order     8378 non-null   int64
 10   partner   8378 non-null   int64
 11   pid       8368 non-null   float64
 12   match     8378 non-null   category
 13   int_corr  8220 non-null   float64
 14   samerace  8378 non-null   category
 15   age_o     8274 non-null   category
 16   race_o    8305 non-null   category
 17   pf_o_att  8289 non-null   float64
 18   pf_o_sin  8289 non-null   float64
 19   pf_o_int  8289 non-null   float64
 20   pf_o_fun  8280 non-null   float64
 21   pf_o_amb  8271 non-null   float64
 22   pf_o_sha  8249 non-null   float64
 23   dec_o     8378 non-null   category
 24   attr_o    8166 non-null   category
 25   sinc_o    8091 non-null   category
 26   intel_o   8072 non-null   category
 27   fun_o     8018 non-null   category
 28   amb_o     7656 non-null   category
 29   shar_o    7302 non-null   category
 30   like_o    8128 non-null   category
 31   prob_o    8060 non-null   category
 32   met_o     7993 non-null   category
 33   age       8283 non-null   category
 34   field     8378 non-null   object
 35   field_cd  8296 non-null   category
 36   undergra  4914 non-null   object
 37   mn_sat    3133 non-null   object
 38   tuition   3583 non-null   object
 39   race      8315 non-null   category
 40   imprace   8299 non-null   category
 41   imprelig  8299 non-null   category
 42   from      8378 non-null   object
 43   zipcode   7314 non-null   category
 44   income    4279 non-null   float64
 45   goal      8299 non-null   category
 46   date      8281 non-null   category
 47   go_out    8299 non-null   category
 48   career    8378 non-null   object
 49   career_c  8240 non-null   category
 50   sports    8299 non-null   category
 51   tvsports  8299 non-null   category
 52   exercise  8299 non-null   category
 53   dining    8299 non-null   category
 54   museums   8299 non-null   category
 55   art       8299 non-null   category
 56   hiking    8299 non-null   category
 57   gaming    8299 non-null   category
 58   clubbing  8299 non-null   category
 59   reading   8299 non-null   category
 60   tv        8299 non-null   category
 61   theater   8299 non-null   category
 62   movies    8299 non-null   category
 63   concerts  8299 non-null   category
 64   music     8299 non-null   category
 65   shopping  8299 non-null   category
 66   yoga      8299 non-null   category
 67   exphappy  8277 non-null   category
 68   expnum    1800 non-null   float64
 69   attr1_1   8299 non-null   float64
 70   sinc1_1   8299 non-null   float64
 71   intel1_1  8299 non-null   float64
 72   fun1_1    8289 non-null   float64
 73   amb1_1    8279 non-null   float64
 74   shar1_1   8257 non-null   float64
 75   attr4_1   6489 non-null   float64
 76   sinc4_1   6489 non-null   float64
 77   intel4_1  6489 non-null   float64
 78   fun4_1    6489 non-null   float64
 79   amb4_1    6489 non-null   float64
 80   shar4_1   6467 non-null   float64
 81   attr2_1   8299 non-null   float64
 82   sinc2_1   8299 non-null   float64
 83   intel2_1  8299 non-null   float64
 84   fun2_1    8299 non-null   float64
 85   amb2_1    8289 non-null   float64
 86   shar2_1   8289 non-null   float64
 87   attr3_1   8273 non-null   category
 88   sinc3_1   8273 non-null   category
 89   fun3_1    8273 non-null   category
 90   intel3_1  8273 non-null   category
 91   amb3_1    8273 non-null   category
 92   attr5_1   4906 non-null   category
 93   sinc5_1   4906 non-null   category
 94   intel5_1  4906 non-null   category
 95   fun5_1    4906 non-null   category
 96   amb5_1    4906 non-null   category
 97   dec       8378 non-null   category
 98   attr      8176 non-null   category
 99   sinc      8101 non-null   category
 100  intel     8082 non-null   category
 101  fun       8028 non-null   category
 102  amb       7666 non-null   category
 103  shar      7311 non-null   category
 104  like      8138 non-null   category
 105  prob      8069 non-null   category
 106  met       8003 non-null   category
 107  match_es  7205 non-null   float64
 108  attr1_s   4096 non-null   category
 109  sinc1_s   4096 non-null   category
 110  intel1_s  4096 non-null   category
 111  fun1_s    4096 non-null   category
 112  amb1_s    4096 non-null   category
 113  shar1_s   4096 non-null   category
 114  attr3_s   4000 non-null   category
 115  sinc3_s   4000 non-null   category
 116  intel3_s  4000 non-null   category
 117  fun3_s    4000 non-null   category
 118  amb3_s    4000 non-null   category
 119  satis_2   7463 non-null   category
 120  length    7463 non-null   category
 121  numdat_2  7433 non-null   category
 122  attr7_2   1984 non-null   float64
 123  sinc7_2   1955 non-null   float64
 124  intel7_2  1984 non-null   float64
 125  fun7_2    1984 non-null   float64
 126  amb7_2    1955 non-null   float64
 127  shar7_2   1974 non-null   float64
 128  attr1_2   7445 non-null   float64
 129  sinc1_2   7463 non-null   float64
 130  intel1_2  7463 non-null   float64
 131  fun1_2    7463 non-null   float64
 132  amb1_2    7463 non-null   float64
 133  shar1_2   7463 non-null   float64
 134  attr4_2   5775 non-null   float64
 135  sinc4_2   5775 non-null   float64
 136  intel4_2  5775 non-null   float64
 137  fun4_2    5775 non-null   float64
 138  amb4_2    5775 non-null   float64
 139  shar4_2   5775 non-null   float64
 140  attr2_2   5775 non-null   float64
 141  sinc2_2   5775 non-null   float64
 142  intel2_2  5775 non-null   float64
 143  fun2_2    5775 non-null   float64
 144  amb2_2    5775 non-null   float64
 145  shar2_2   5775 non-null   float64
 146  attr3_2   7463 non-null   float64
 147  sinc3_2   7463 non-null   float64
 148  intel3_2  7463 non-null   float64
 149  fun3_2    7463 non-null   float64
 150  amb3_2    7463 non-null   float64
 151  attr5_2   4377 non-null   float64
 152  sinc5_2   4377 non-null   float64
 153  intel5_2  4377 non-null   float64
 154  fun5_2    4377 non-null   float64
 155  amb5_2    4377 non-null   float64
 156  you_call  3974 non-null   float64
 157  them_cal  3974 non-null   float64
 158  date_3    3974 non-null   category
 159  numdat_3  1496 non-null   float64
 160  num_in_3  668 non-null    float64
 161  attr1_3   3974 non-null   float64
 162  sinc1_3   3974 non-null   float64
 163  intel1_3  3974 non-null   float64
 164  fun1_3    3974 non-null   float64
 165  amb1_3    3974 non-null   float64
 166  shar1_3   3974 non-null   float64
 167  attr7_3   2016 non-null   float64
 168  sinc7_3   2016 non-null   float64
 169  intel7_3  2016 non-null   float64
 170  fun7_3    2016 non-null   float64
 171  amb7_3    2016 non-null   float64
 172  shar7_3   2016 non-null   float64
 173  attr4_3   2959 non-null   float64
 174  sinc4_3   2959 non-null   float64
 175  intel4_3  2959 non-null   float64
 176  fun4_3    2959 non-null   float64
 177  amb4_3    2959 non-null   float64
 178  shar4_3   2959 non-null   float64
 179  attr2_3   2959 non-null   float64
 180  sinc2_3   2959 non-null   float64
 181  intel2_3  2959 non-null   float64
 182  fun2_3    2959 non-null   float64
 183  amb2_3    2959 non-null   float64
 184  shar2_3   2016 non-null   float64
 185  attr3_3   3974 non-null   float64
 186  sinc3_3   3974 non-null   float64
 187  intel3_3  3974 non-null   float64
 188  fun3_3    3974 non-null   float64
 189  amb3_3    3974 non-null   float64
 190  attr5_3   2016 non-null   float64
 191  sinc5_3   2016 non-null   float64
 192  intel5_3  2016 non-null   float64
 193  fun5_3    2016 non-null   float64
 194  amb5_3    2016 non-null   float64
dtypes: category(81), float64(102), int64(6), object(6)
memory usage: 8.0+ MB

In [43]:
dftypes=df.dtypes.to_frame('dtypes').reset_index()
dftypes.to_csv("Typeframe")
df.to_csv("TransformedData")